<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head>
    <meta charset="UTF-8">
    <title>掃除当番表</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap-theme.min.css" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap-theme.min.css}">
    <link rel="stylesheet" href="/css/cleaning_rota.css" th:href="@{/css/cleaning_rota.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" th:src="@{/js/jquery-3.4.1.slim.min.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" th:src="@{/js/popper.min.js}"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous" th:href="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
    <script src="/js/cleaning_rota.js" th:src="@{/js/cleaning_rota.js}"></script>
  </head>
  <body>
    <div class="container">
      <!-- メニュー -->
      <div class="mt-3 row justify-content-around">
        <div class="p-1 col-md-3">
          <input type="button" class="btn btn-info" value="ボタン切り替え" id="switchButton"/>
        </div>
        <div class="p-1 col-md-3">
  	      <form th:action="@{/cleaning_rota/output}" method="get">
  	        <input type="submit" class="btn btn-info" value="Excel出力" />
  	        <input type="hidden" name="executedDate" th:value="${executedDate}" />
  	      </form>
  	    </div>
        <div class="p-1 col-md-3">
          <form th:action="@{/cleaning_rota/navi}" method="post">
    		<input type="submit" class="btn btn-info" name="goToMenu" value="戻る" />
    	  </form>
  	    </div>
        <div class="p-1 col-md-3">
          <form th:action="@{/logout}" method="post">
  	        <input type="submit" class="btn btn-info" value="ログアウト" />
  	      </form>
  	    </div>
      </div>
      <!-- /メニュー -->
      <hr>
      <!-- 日付メニュー -->
      <div class="mt-3 row justify-content-around">
        <div class="p-1">
          <form th:action="@{/cleaning_rota/beforeMonth}" method="post">
  	        <input type="submit" class="btn btn-info" value="前月" />
  	        <input type="hidden" name="executedDate" th:value="${executedDate}" />
  	      </form>
  	    </div>
        <div class="p-1">
          <form th:action="@{/cleaning_rota/afterMonth}" method="post">
  	        <input type="submit" class="btn btn-info" value="次月" />
  	        <input type="hidden" name="executedDate" th:value="${executedDate}" />
  	      </form>
  	    </div>
      </div>
      <!-- /日付メニュー -->
      <hr>

  <!-- 	<p> -->
  <!-- 	  <span sec:authentication="principal.user.firstName">姓</span>&nbsp;<span sec:authentication="principal.user.lastname">名</span>さんログイン中。 -->
  <!-- 	</p> -->
      <!-- 掃除当番表テーブル -->
    	<div class="co-md-12">
        <table class="table table-responsive-md table-striped table-bordered">
      	  <tr>
      	    <th class="text-center" th:text="日付"></th>
      	    <th class="text-center" th:each="item : ${items}" th:text="${item.itemName}"></th>
      	  </tr>
  <!-- 		<tr th:each="cleaningRecord : ${cleaningRecords}"> -->
  <!-- 		　　<td th:text="${cleaningRecord.executedDate}">2019/02/16</td> -->
  <!-- 		　　<td th:text="${cleaningRecord.item.itemName}">山田</td> -->
  <!-- 		　　<td th:text="${cleaningRecord.user.firstName}">太郎</td> -->
  <!-- 		　　<td th:text="${cleaningRecord.user.lastName}">duke</td> -->
  <!-- 		　　<td> -->
  <!-- 			<form th:action="@{/customers/edit}" method="get"> -->
  <!-- 			　　<input class="btn btn-default" type="submit" name="form" value="編集" /> -->
  <!-- 			　　<input type="hidden" name="id" th:value="${customer.id}" />				 -->
  <!-- 			</form> -->
  <!-- 		　　</td> -->
  <!-- 		　　<td> -->
  <!-- 			<form th:action="@{/customers/delete}" method="post"> -->
  <!-- 			　　<input class="btn btn-danger" type="submit" value="削除" /> -->
  <!-- 			　　<input type="hidden" name="id" th:value="${customer.id}" />				 -->
  <!-- 			</form> -->
  <!-- 		　　</td> -->
  <!-- 		</tr> -->

      	  <tr th:each="ex : ${cleaningRecordMap}">
      	    <td class="text-center" th:text="${ex.key}"></td>
      	    <td class="text-center" th:each="it : ${ex.value}">
      	      <div th:each="cr : ${it.value}">
      		  	<div th:if="${cr} != null">
      	          <span class="text-success" th:text="${cr.user.firstName}"></span>
      		  	  <div th:if="${it.value != null}" class="showButton">
      		  	    <form th:action="@{/cleaning_rota/physical_delete}" method="post">
       	  	  	      <input class="btn btn-danger btn-sm" type="submit" name="form" value="削除" />
      		  	      <input type="hidden" name="executedDate" th:value="${ex.key}" />
      		  	  	  <input type="hidden" name="recordId" th:value="${cr.recordId}" />
      			    </form>
      		  	  </div>
      		  	</div>
      		  </div>
              <div th:if="${it.value == null}" class="showButton">
      		    <form th:action="@{/cleaning_rota/regist}" method="post">
         	      <input class="btn btn-primary btn-sm" type="submit" name="form" value="登録" />
         	      <input type="hidden" name="executedDate" th:value="${ex.key}" />
         	      <input type="hidden" name="itemId" th:value="${it.key.itemId}" />
      	 	    </form>
      		  </div>
      	    </td>
      	  </tr>
        </table>

    <!-- 	  <ul th:each="ex : ${cleaningRecordMap}"> -->
    <!-- 	  	<li th:text="${ex.key}"></li> -->
    <!-- 	  	<li th:each="it : ${ex.value}"> -->
    <!-- 	  	  <div th:text="${it.key.itemId}"></div> -->
    <!-- 	  	  <div th:each="cr : ${it.value}"> -->
    <!-- 	  	    <span th:text="${cr.recordId}"></span> -->
    <!-- 	  	    <span th:text="${cr.item.itemName}"></span> -->
    <!-- 	  	    <span th:text="${cr.user.firstName}"></span> -->
    <!-- 	  	  </div> -->
    <!-- 	  	</li> -->
    <!-- 	  </ul> -->

      </div>
      <!-- /掃除当番表テーブル -->
      <hr>
      <!-- 日付メニュー -->
      <div class="mt-3 row justify-content-around">
        <div class="p-1">
          <form th:action="@{/cleaning_rota/beforeMonth}" method="post">
  	        <input type="submit" class="btn btn-info" value="前月" />
  	        <input type="hidden" name="executedDate" th:value="${executedDate}" />
  	      </form>
  	    </div>
        <div class="p-1">
          <form th:action="@{/cleaning_rota/afterMonth}" method="post">
  	        <input type="submit" class="btn btn-info" value="次月" />
  	        <input type="hidden" name="executedDate" th:value="${executedDate}" />
  	      </form>
  	    </div>
      </div>
      <!-- /日付メニュー -->
    </div>
  </body>
</html>
